.container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.77);
  z-index: 999;

  .navLogo {
    background-image: url('../../assets/zenith-bygg-consult-as.png');
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
  }

  & > nav {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;

    button {
      font-size: 13px;
      border-color: #e7322d;
      color: #e7322d;

      &:hover,
      :focus,
      :active {
        background-color: #e7322d !important;
        border: 1px solid #e7322d !important;
      }
    }

    & > a {
      color: black;
      text-decoration: none;

      &:hover {
        color: #ce6768;
      }
    }
  }

  .dropdownToggle {
    background-color: white;
    border: none;
    color: black;
    font-size: 14px;

    &:hover {
      background-color: unset !important;
      border: unset !important;
      color: #e7322d;
    }
  }

  .dropdownToggleOptions {
    font-size: 14px;

    > a {
      padding-block: 10px;

      &:active {
        background-color: #e7322d;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    justify-content: space-between;

    nav > a,
    nav > button {
      display: none;
    }
    .dropdownToggle {
      display: none;
    }

    .navLogo {
      width: 20%;
      margin-left: 10px;
      padding-block: 20px;
    }
  }
}
