.container {
  width: 90%;
  margin: auto;
  padding-block: 50px;

  .header {
    width: 90%;

    h1,
    h5 {
      letter-spacing: -2px;
    }

    h5 {
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    padding-block: 40px;

    p {
      width: 50%;
      color: gray;
    }

    img {
      border-radius: 7px;
    }
  }
}
