@import '../../styles/custom.scss';

.container {
  display: flex;
  width: 90%;
  padding-block: 100px;
  margin: auto;

  .content {
    width: 70%;
    padding-right: 40px;

    h1 {
      font-size: 56px;
      font-weight: 600;
      padding-top: 50px;
    }

    p {
      line-height: 35px;
      color: #76808f;
    }

    button {
      background-color: $primary;
      border: none;
      padding: 15px 60px;
      margin-top: 35px;

      &:hover {
        background-color: #df8380;
      }
    }
  }

  .projects {
    width: 90%;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    .singleProject {
      .projectImage {
        border-radius: 3%;
      }
      .projectText {
        display: block;
        margin: auto;
        padding: 40px 10px;

        h6 {
          font-weight: 600;
        }

        p {
          color: gray;
        }
      }

      p,
      h6 {
        font-size: 14px;
      }
    }
  }
}
