@import '../../styles/custom.scss';

.container {
  @media only screen and (max-width: 730px) {
    display: block;
    width: 100%;
    padding-block: 20px;

    .content {
      width: 95% !important;
      margin: auto;
      text-align: center;
    }

    .projects {
      padding: 90px 0 0 0;

      .projectImage {
        max-width: 300px;
      }
      .singleProject {
        padding: 20px;

        .projectText {
          padding: 20px 0px !important;
          text-align: center;

          h6 {
            font-size: 16px;
          }
        }
      }
    }
  }

  display: flex;
  width: 90%;
  padding-block: 100px;
  margin: auto;

  .content {
    width: 70%;
    padding-right: 40px;

    .heroTagline {
      color: #fa8b46;
      font-size: 3.2rem;
    }

    h1 {
      font-size: 56px;
      font-weight: 600;
      padding-top: 50px;
      letter-spacing: -2px;
    }

    p {
      line-height: 35px;
      color: #76808f;
    }

    button {
      background-color: $primary;
      border: none;
      padding: 15px 60px;
      margin-top: 35px;
      box-shadow: 3px 8px 13px -7px rgba(79, 79, 79, 0.75);
      -webkit-box-shadow: 3px 8px 13px -7px rgba(79, 79, 79, 0.75);
      -moz-box-shadow: 3px 8px 13px -7px rgba(79, 79, 79, 0.75);

      &:hover {
        background-color: #fa8b46;
      }
    }
  }

  .projects {
    width: 90%;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    .singleProject {
      .projectImage {
        border-radius: 3%;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }
      }
      .projectText {
        display: block;
        margin: auto;
        padding: 40px 10px;
        text-transform: uppercase;

        h6 {
          font-weight: 600;
        }

        p {
          color: gray;
        }
      }

      p,
      h6 {
        font-size: 14px;
      }

      a {
        color: #fa8b46;
      }
    }
  }
}
